.sideBar {
    height: 100vh; /* Full height */
    width: 200px; /* Adjust the width as needed */
    background-color: lightgray;
    color: gray;
    position: fixed;
    top: 0;
    left: 50px; /* Adjust this value to align with the menu bar */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    transition: transform 0.3s ease; /* Smooth transition */
    padding-top: 20px;
    z-index: 2; /* 모달보다 낮은 z-index */
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
  .listCont {
    margin: 5px;
  }
  .title {
    display: inline;
    justify-content: space-between;
  }